---
layout: default
---

<div id="main" role="main" class="container">
  <div class="posts">
    <div class="post-grid">
      {% for post in site.posts %}
      {% if post.pinned %}
      <div class="post-card">
        <a href="{{ site.baseurl }}{{ post.url }}" class="post-card-link">
          <div class="image-container">
            <img src="images/{{post.folder}}/index.png" alt="Index photo">
            <div class="gradient-overlay"></div>
            <div class="title-container">
              <h3 class="overlay-title">
                <span class="pin-icon">📌</span> {{ post.title }}
              </h3>
            </div>
          </div>
        </a>
      </div>
      {% endif %}
      {% endfor %}
      {% for post in site.posts %}
      {% unless post.pinned %}
      <div class="post-card">
        <a href="{{ site.baseurl }}{{ post.url }}" class="post-card-link">
          <div class="image-container">
            <img src="images/{{post.folder}}/index.png" alt="Index photo">
            <div class="gradient-overlay"></div>
            <div class="title-container">
              <h3 class="overlay-title">
                {{ post.title }}
              </h3>
            </div>
          </div>
        </a>
      </div>
      {% endunless %}
    {% endfor %}
    </div>
  </div>
</div>