---
layout: default
---

<div id="main" role="main" class="container">
  <div class="posts">
    <div class="post-grid">
      {% for post in site.posts %}
        {% if post.pinned %}
          <div class="post-card">
            <a href="{{ site.baseurl }}{{ post.url }}">
              <img src="images/{{post.folder}}/index.png" style="border-bottom: 1px solid #000000" alt="Index photo">
            </a>
            <article class="post">
                <h3>
                  <a href="{{ site.baseurl }}{{ post.url }}">📌 {{ post.title }}</a>
                </h3>
                <br>
            </article>
          </div>
        {% endif %}
      {% endfor %}
      {% for post in site.posts %}
        {% unless post.pinned %}
          <div class="post-card">
              <a href="{{ site.baseurl }}{{ post.url }}">
                <img src="images/{{post.folder}}/index.png" style="border-bottom: 1px solid #000000" alt="Index photo">
              </a>
              <article class="post">
                  <h3>
                    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                  </h3>
                  <br>
              </article>
            </div>
        {% endunless %}
      {% endfor %}
    </div>
  </div>
</div>