---
layout: page
permalink: /travels/
title: Travels - A few pics from a few places 🌍
---

<!-- ty https://codepen.io/NielsVoogt/pen/MbMMxv/ -->

<div class="container">
	
  {% for place in site.data.places %}

    <div class="timeline-item" date-is="{{ place.visited }}">
      <h2>{{ place.name }}</h2>
      {% if place.description %}
      <p>
        {{ place.description }}
      </p>
      {% endif %}
      <p>
        <img src="https://placehold.co/100x100"/>
        <img src="https://placehold.co/100x100"/>
        <img src="https://placehold.co/100x100"/>
        <img src="https://placehold.co/100x100"/>
        <img src="https://placehold.co/100x100"/>
        <img src="https://placehold.co/100x100"/>
        <img src="https://placehold.co/100x100"/>
        <img src="https://placehold.co/100x100"/>
      </p>
    </div>
	
  {% endfor %}
	
</div>