---
layout: page
permalink: /trips/
title: Trips
---

<!-- ty https://codepen.io/NielsVoogt/pen/MbMMxv/ -->

Pics I've taken in places I've been to

<br><br>

<div class="container">
  {% for place in site.data.places %}

    <div id="{{ place.name | slugify }}-{{ place.visited | slugify }}" class="timeline-item" date-is="{{ place.visited }}">
      <h2>
        <a href="#{{ place.name | slugify }}-{{ place.visited | slugify }}">{{ place.name }}</a>
      </h2>
      {% if place.description %}
        <p>{{ place.description }}</p>
      {% endif %}
      <div class="gallery">
        {% for pic in place.pics %}
          <a 
            href="{{ pic.url }}" 
            data-lightbox="gallery-{{ place.name }}" 
            data-title="{{ place.name }}{% if pic.description %} - {{ pic.description }}{% endif %}"
          >
            <img height="250px" src="{{ pic.url }}" alt="Photo of {{ place.name }}" />
          </a>
        {% endfor %}
      </div>
    </div>

  {% endfor %}
</div>