---
layout: default
---

<div id="main" role="main" class="post-body">
  <article class="post">
    <h1>{{ page.title }}</h1><br>
    
    <div class="post-categories" align=right>
    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}
    <b>Categories:&nbsp;&nbsp;</b>
    {% for category in categories %}
      <a href="{{site.baseurl}}/categories/#{{ category | replace: ' ', '-' }}" class="chip chip-primary">{{category}}</a>
    {% endfor %}
    </div>

    <div class="entry">
      {{ content }}
    </div>

    <div class="date">
      Written on {{ page.date | date: "%B %e, %Y" }}
    </div>

    {% include disqus.html %}
  </article>
</div>