---
layout: default
---

<div id="main" role="main" class="post-body">
  <article class="post">
    <h1>{{ page.title }}</h1><br>
    
    <div class="post-tags" align=right>
    {% if post %}
      {% assign tags = post.tags %}
    {% else %}
      {% assign tags = page.tags %}
    {% endif %}
    
    <!-- <b>Tags: &nbsp;&nbsp;</b> -->
    {% for tag in tags %}
      <a href="{{site.baseurl}}/tags/#{{ tag | replace: ' ', '-' }}" class="chip chip-primary">{{tag}}</a>
    {% endfor %}
    </div>

    <div class="entry">
      {{ content }}
    </div>

    <div class="date">
      Written on {{ page.date | date: "%B %e, %Y" }}
    </div>

    {% include disqus.html %}
  </article>
</div>